// .user_slogan {
//   color: red;
// }

.user_container {
  .user_nav {
  }
  .user_show {
    margin-top: 10px;
    // .user_query {
    //   width: 300px;
    // }
    .user_table {
      margin: 10px 0 10px 0;
      .opButton {
        margin-right: 10px;
      }
    }
  }
}
